@use "../abstracts" as *
    
.home-layout
    display: flex
    flex-direction: column
    justify-content: center 
    align-items: center
    flex: 1

.map-container
    background-color: $map-container-bg
    width: 90%
    max-width: 1600px
    aspect-ratio: 21 / 9

    display: flex
    flex-direction: column
    align-content: center
    justify-content: center

    &__header
        border: 1px solid blue
        height: 10%

    &__content
        border: 1px solid yellow
        height: 60%
