@use "../abstracts" as *
    
.home-layout
    display: flex
    flex-direction: column
    justify-content: center 
    align-items: center
    flex: 1

.map-container
    background-color: $map-container-bg
    width: 90%
    max-width: 1400px
